:root {
  --Very-dark-desaturated-blue-main-background: hsl(222, 26%, 31%);
  --Very-dark-desaturated-blue-toggle-background-keypad-background: hsl(
    223,
    31%,
    20%
  );
  --Very-dark-desaturated-blue-screen-background: hsl(224, 36%, 15%);
  // #### Keys
  --Desaturated-dark-blue-key-background: hsl(225, 21%, 49%);
  --Desaturated-dark-blue-key-shadow: hsl(224, 28%, 35%);
  --Red-key-background-toggle: hsl(6, 63%, 50%);
  --Dark-red-key-shadow: hsl(6, 70%, 34%);
  --Light-grayish-orange-key-background: hsl(30, 25%, 89%);
  --Grayish-orange-key-shadow: hsl(28, 16%, 65%);
  // #### Text
  --Very-dark-grayish-blue: hsl(221, 14%, 31%);
  --White: hsl(0, 0%, 100%);
  /* Theme 2 */
  /* Backgrounds */
  --theme-2-main-background: hsl(0, 0%, 90%);
  --theme-2-toggle-background-keypad-background: hsl(0, 5%, 81%);
  --theme-2-screen-background: hsl(0, 0%, 93%);
  /* Keys */
  --theme-2-key-background: hsl(185, 42%, 37%);
  --theme-2-key-shadow: hsl(185, 58%, 25%);
  --theme-2-red-key-background-toggle: hsl(25, 98%, 40%);
  --theme-2-dark-red-key-shadow: hsl(25, 99%, 27%);
  --theme-2-light-grayish-yellow-key-background: hsl(45, 7%, 89%);
  --theme-2-dark-grayish-orange-key-shadow: hsl(35, 11%, 61%);
  /* Text */
  --theme-2-very-dark-grayish-yellow: hsl(60, 10%, 19%);
  --White-text: hsl(0, 0%, 100%);
  /* Theme 3 */
  /* Backgrounds */
  --theme-3-main-background: hsl(268, 75%, 9%);
  --theme-3-toggle-background-keypad-background: hsl(268, 71%, 12%);
  --theme-3-screen-background: hsl(268, 71%, 12%);
  /* Keys */
  --theme-3-key-background: hsl(281, 89%, 26%);
  --theme-3-key-shadow: hsl(285, 91%, 52%);
  --theme-3-red-key-background-toggle: hsl(176, 100%, 44%);
  --theme-3-dark-red-key-shadow: hsl(177, 92%, 70%);
  --theme-3-light-grayish-yellow-key-background: hsl(268, 47%, 21%);
  --theme-3-dark-grayish-orange-key-shadow: hsl(290, 70%, 36%);
  /* Text */
  --theme-3-light-yellow: hsl(52, 100%, 62%);
  --theme-3-very-dark-blue: hsl(198, 20%, 13%);
  --White-text: hsl(0, 0%, 100%);
  // font size
  --Font-size-numbers: 32px;

  // Backgrounds
  /* Theme 1 */
  --mainBG: var(--Very-dark-desaturated-blue-main-background);
  --toggleBG: var(
    --Very-dark-desaturated-blue-toggle-background-keypad-background
  );
  --screenBG: var(--Very-dark-desaturated-blue-screen-background);
  /* Key */
  --keyBG: var(--Desaturated-dark-blue-key-background);
  --keyShadow: var(--Desaturated-dark-blue-key-shadow);
  --redKeyBG: var(--Red-key-background-toggle);
  --redkeyShadow: var(--Dark-red-key-shadow);
  --orangeBG: var(--Light-grayish-orange-key-background);
  --orangeShadow: var(--Grayish-orange-key-shadow);
  /* Text */
  --textBlue: var(--Very-dark-grayish-blue);
  --textWhite: var(--White);
  // --color: var(--White);
  // --output-text: var(--White);
  --clearBtnText: var(--White);
  --evaluateText: var(--White-text);
}

body.theme-two {
  // Backgrounds
  --mainBG: var(--theme-2-main-background);
  --toggleBG: var(--theme-2-toggle-background-keypad-background);
  --screenBG: var(--theme-2-screen-background);
  // Key
  --keyBG: var(--theme-2-key-background);
  --keyShadow: var(--theme-2-key-shadow);
  --redKeyBG: var(--theme-2-red-key-background-toggle);
  --redkeyShadow: var(--theme-2-dark-red-key-shadow);
  --orangeBG: var(--theme-2-light-grayish-yellow-key-background);
  --orangeShadow: var(--theme-2-dark-grayish-orange-key-shadow);
  // Text
  --textBlue: var(--theme-2-very-dark-grayish-yellow);
  --textWhite: var(--theme-2-very-dark-blue);
  --clearBtnText: var(--White);
  --evaluateText: var(--White-text);
}
body.theme-three {
  /* Backgrounds */
  --mainBG: var(--theme-3-main-background);
  --toggleBG: var(--theme-3-toggle-background-keypad-background);
  --screenBG: var(--theme-3-screen-background);
  /* Key */
  --keyBG: var(--theme-3-key-background);
  --keyShadow: var(--theme-3-key-shadow);
  --redKeyBG: var(--theme-3-red-key-background-toggle);
  --redkeyShadow: var(--theme-3-dark-red-key-shadow);
  --orangeBG: var(--theme-3-light-grayish-yellow-key-background);
  --orangeShadow: var(--theme-3-dark-grayish-orange-key-shadow);
  /* Text */
  --textBlue: var(--theme-3-light-yellow);
  --textWhite: var(--theme-3-light-yellow);
  --clearBtnText: var(--White);
  --evaluateText: var(--theme-3-main-background);
}
